@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --text: #171719;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171719;
    --text: #fff;
  }
}

body {
  color: var(--text);
  background: var(--background);
}
