@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171719;
  --text: #fff;
  --mint: #54ffc4;
  --cotton: #eab1ff;
  --midnight: #171719;
}

body {
  color: var(--text);
  background: var(--background);
}
